@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Navigation bar*/
header {
  border: 1px solid blue;
  color: #535353;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3vh;
  top: 0;
  left: 0;
  align-items: center;
  padding: 18px;
  z-index: 1000;
  background-color: #fff;
}

.nav-bar-link.active {
  font-weight: bold;
  color: #000;
}

.nav-bar-link, .nav-bar-profile, .nav-bar-grid {
  margin: 0 8px; 
  color: #535353;
  text-decoration: none;
}

.nav-bar-link:hover {
  text-decoration: underline; 
}

#profile-image {
  background-image: url("../images/img-1.jpg");
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

#nav-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  
}

.logo{
  text-align: center;
  color: white;
  margin-top: -35px;
  font-family: Brush Script MT;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  text-align: center;
}

.nav-bar-profile .fa-user {
    color: #ccc; /* Example color for unselected state */
  }
  
  /* Style for selected user icon */
  .nav-bar-profile.active .fa-user {
    color: #000; /* Example color for selected state */
  }

.card {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #0d0d0d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    font-weight: bold; /* Make header text bold */
}

.card-body {
    padding: 20px;
}

.card-body p {
    margin: 0;
    font-size: 16px;
}

.card-body button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-body button:hover {
    background-color: #cc0000;
}
